{% extends "base.html" %}

{% block main %}
  <div class="login-form text-center">
    <h2 class="h3 mb-3 fw-normal">Dashboard</h2>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('dashboard', next=request.args.get('next')) }}" method="post">

    <div class="container">
        <div class="row">
            <div class = "col">
                <div class="card border-info" style="width: 32rem;">
                    <div class="card-body">
                        <p class="text-uppercase small mb-2"><strong>Parish with Most Overall Crime</strong></p>
                    </div>
                    <hr class="my-0">
                    <div class="card-body">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="card border-info" style="width: 32rem;">
                <div class="card-body">
                    <p class="text-uppercase small mb-2"><strong>Total Reports Made by Parish</strong></p>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
        <br>
        <div class="w-100"></div>

        <div class = "col">
            <div class="card border-info" style="width: 32rem;">
                <div class="card-body">
                    <p class="text-uppercase small mb-2"><strong>Division with Highest Crime Rate</strong></p>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
            <br>
        </div>
        <div class="col">
            <div class="card border-info" style="width: 32rem;">
                <div class="card-body">
                    <p class="text-uppercase small mb-2"><strong>Frequency of Each Crime</strong></p>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
         
    </div>
    </form>
  </div> 
{% endblock %} 



