{% extends "base.html" %}
{% block tool %} 
    <a href="{{ url_for('predict') }}"  class="btn btn-success">Prediction Tool</a>
{% endblock%}

{% block main %}
<div class="p-5 mb-4 bg-light rounded-3" class="card-group">
    <h1 class="card-title text-center">Analytics</h1>
    <br><br>
    <div class="card">
        <h2 class="card-title text-center"><strong>Parish with the Most Crime Reports</strong></h2>
        <br>
        <div class="card-photo">
            <img src="{{url_for('static', filename='images/parish-crime-reports.png')}}"  class="w-100" >
        </div>
    </div>

    <br>

    <div class="card">
        <h2 class="card-title text-center"><strong>Division with the Most Crime Reports</strong></h2>
        <br>
        <div class="card-photo">
            <img src="{{url_for('static', filename='images/division-crime-reports.png')}}"  class="w-100" >
        </div>
    </div>

    <br>

    <div class="card">
        <h2 class="card-title text-center"><strong>Division with Highest Crime Rate</strong></h2>
        <br>
        <div class="card-photo">
            <img src="{{url_for('static', filename='images/division-crime-rate.png')}}"  class="w-100" >
        </div>
    </div>
    
    <br>

    <div class="card">
        <h2 class="card-title text-center"><strong>Frequency of Crimes Reported</strong></h2>
        <br>
        <div class="card-photo">
            <img src="{{url_for('static', filename='images/crimetype-count.png')}}"  class="w-100" >
        </div>
    </div>

    <br>



         
    </div>
    
{% endblock %} 



