{% extends "base.html" %}
{% block tool %} 
    <a href="{{ url_for('predict') }}"  class="btn btn-success">Prediction Tool</a>
{% endblock%}

{% block main %}
  <div class="login-form text-center">
    <h2 class="h3 mb-3 fw-normal">Analytics</h2>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('dashboard', next=request.args.get('next')) }}" method="post">

    <div class="row">
            <div class = "col">
                <div class="card border-info" style="width: 32rem;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Parish with the Most Crime Reports</strong></h5>
                    </div>
                    <hr class="my-0">
                    <div class="card-body">
                        <img class="card-img-bottom" src="static/images/parish-crime-reports.png" alt="Parish crime report graph">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="card border-info" style="width: 32rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Division with the Most Crime Reports</strong></h5>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <img class="card-img-bottom" src="static/images/division-crime-reports.png" alt="Division crime report graph">
                </div>
            </div>
        </div>
        <br>
        <div class="w-100"></div>

        <div class = "col">
            <div class="card border-info" style="width: 32rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Division with Highest Crime Rate</strong></h5>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <img class="card-img-bottom" src="static/images/division-crime-rate.png" alt="Division crime rate graph">
                </div>
            </div>
            <br>
        </div>
        <div class="col">
            <div class="card border-info" style="width: 32rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Frequency of Crimes Reported</strong></h5>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <img class="card-img-bottom" src="static/images/crimetype-count.png" alt="Crime type frequency graph">
                </div>
            </div>
        </div>
         
    </div>
    </form>
  </div> 
{% endblock %} 



