{% extends "base.html" %}
{% block tool %} 
    <a href="{{ url_for('predict') }}"  class="btn btn-success">Prediction Tool</a>
{% endblock%}
        
{% block main %}
{% include 'flash_messages.html' %}
<div class="p-5 mb-4 bg-light rounded-3" class="card-group">
    <div class="card" >
        <img class="card-img-to" src="static/images/crime-overview1.jpg" alt="analytics graphic">
        <div class="card-body">
          <h1 class="card-title" >Overview</h1>
          <p  class="lead">This demo app demonstrates the use of Flask-Login and Flask-Migrate extensions</p>
          <a href="#" class="btn btn-dark" >More</a>
        </div>
    </div>
    <br>
    <div class="card" >
        <img class="card-img-top" src="static/images/crime-overview.png" alt="analytics graphic">
        <div class="card-body">
          <h1 class="card-title" >How can you help</h1>
          <p  class="lead">This demo app demonstrates the use of Flask-Login and Flask-Migrate extensions</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
    </div>
    <br>
    <div class="card" >
        <img class="card-img-top" src="static/images/crime-safe.jpg" alt="analytics graphic">
        <div class="card-body">
          <h1 class="card-title" >How to stay safe</h1>
          <p  class="lead">This demo app demonstrates the use of Flask-Login and Flask-Migrate extensions</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
    </div>
    
</div>

{% endblock %}
