{% extends "base.html" %}
{% block tool %} 
    <a href="{{ url_for('predict') }}"  class="btn btn-success">Prediction Tool</a>
{% endblock%}
        
{% block main %}
{% include 'flash_messages.html' %}
<div class="p-5 mb-4 bg-light rounded-3" class="card-group">
    <div class="card" >
        <div class="card-photo">
          <img src="{{url_for('static', filename='images/helpus.png')}}"  class="w-100">
        </div>
        <br>
        <br>
        <div class="card-body">
          <h1 class="card-title" >How can you help</h1>
          <p  class="lead">“If you want a peaceful Jamaica, you have to play a part. We need to expose the wrongdoings of all kinds, and the ‘informer’ is a hero. I am not asking you to come forward and tell the gangster ‘mi tell the police you have a gun’. That would be stupid, and you must use your intelligence. Bravery does not mean you expose yourself, but it means you have the audacity to call Crime Stop or go to a justice of the peace” - JUSTICE MINISTER DelroyChuck </p>
          
        </div> 
        <br>
        <br>
        <div class="card-body">
          <h1 class="card-title" >How to stay safe</h1>
          <p  class="lead">This demo app demonstrates the use of Flask-Login and Flask-Migrate extensions</p>
          
        </div>
    </div>
    
    
    
</div>

{% endblock %}
