
  <!--div class="login-form text-center">
    <h2 class="h3 mb-3 fw-normal">Please Log in</h2>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('login', next=request.args.get('next')) }}" method="post">
      {{ form.csrf_token }}
      <div class="form-floating">
        {{ form.username(class='form-control', placeholder="Enter your username") }}
        {{ form.username.label }}
      </div>
      <div class="form-floating">
        {{ form.password(class='form-control', placeholder="Password") }}
        {{ form.password.label }}
      </div>
      <div class="form-group">
        {{ form.remember_me }} {{ form.remember_me.label }}
      </div>
      <button type="submit" name="submit" class="w-100 btn btn-dark btn-block">Log in</button>
    </form>
    <a href="{{url_for('create')}}">Create Account</a>
  </div-->
  
  {% extends 'base.html' %}
  {% from '/form.html' import render_form %}
  
  {% block title %}Flask Phone Number Input Demo{% endblock %}
  
  {% block content %}
  <h1>Flask Phone Number Input Demo</h1>
  {{ render_form(form) }}
  {% endblock %}
  
  {% block scripts %}
  {{ super() }}
  <script>
      var wtf_phone_field = document.getElementById('phone');
      wtf_phone_field.style.position = 'absolute';
      wtf_phone_field.style.top = '-9999px';
      wtf_phone_field.style.left = '-9999px';
      wtf_phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input type="tel" id="_phone"></div>');
      var fancy_phone_field = document.getElementById('_phone');
      var fancy_phone_iti = window.intlTelInput(fancy_phone_field, {
          separateDialCode: true,
          utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
      });
      fancy_phone_iti.setNumber(wtf_phone_field.value);
      fancy_phone_field.addEventListener('blur', function() {
          wtf_phone_field.value = fancy_phone_iti.getNumber();
      });
  </script>
  
{% endblock %}
