{% extends "base.html" %}
{% block tool %} 
    <a href="{{ url_for('predict') }}"  class="btn btn-success">Prediction Tool</a>
{% endblock%}

{% block main %}
  <div class="text-center">
    <div>
        <h2 class="card-title">Notifications</h2>
        <br><br>
    </div>
    
    <div class="card p-5 mb-4 bg-light rounded-3">
        <div class="card-body">
        
            <p  class="lead">This is a notification about a report you made recently</p>
            <a href="#" class="btn btn-dark" >More</a>
        </div>
    </div>
  </div> 
{% endblock %} 




